# See https://github.com/sourcegraph/sourcegraph/blob/ad6099f5a553a3d09d66b708f745dc36a571147a/.npmrc

# Disabling pnpm [hoisting](https://pnpm.io/npmrc#hoist) by setting `hoist=false` is recommended on
# projects using rules_js so that pnpm outside of Bazel lays out a node_modules tree similar to what
# rules_js lays out under Bazel (without a hidden node_modules/.pnpm/node_modules)
hoist=false

# We have to hoist eslint packages to use them in the `.eslintrc` config.
public-hoist-pattern[]=*eslint*

auto-install-peers=true

# We manage the version of pnpm so the update warnings based on NPM is inaccurate.
update-notifier=false
