.container {

}

.separator {
    --col: 2;
    --row: 2;

    font-weight: bold;
    font-size: 2rem;
    text-align: center;

    justify-content: center;
    align-items: center;
}

.hourLabel {
    --col: 1;
    --row: 1;
    width: 6rem;
}

.hourText {
    --col: 1;
    --row: 2;
}

.minuteLabel {
    --col: 3;
    --row: 1;
    width: 6rem;
}

.minuteText {
    --col: 3;
    --row: 2;
}
